.img{
    justify-content: center;
    display: flex;
    
}
.imgs{
    justify-content: center;
    display: flex;
    padding-top: 30px;
}
.imgss{
    justify-content: center;
    display: flex;
    font-size: 23px;
    font-weight: 900;
}
.pad{
    padding-top: 40px;
}
.rnd{
    margin: 30px;
    border-radius: 90px;
    height: 210px;
}